* {

    margin: 0;
    padding: 0;
  }
  
.menu {
    font-family: "Poppins", Arial, Helvetica, sans-serif ;
    font-weight: 500;
    background-color: #1043CF;
    color: #fff;
    padding: 20px 60px 20px ;
}

.nav-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-menu a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}
  